/* Changes Default */

body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
/* Text Modifications */

.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
.mono {
  font-family: 'Roboto Mono', sans-serif;
}
.slab {
  font-family: 'Roboto Slab', sans-serif;
}

/* View Modifications */

.view {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  margin-top: 60px; /*Navbar Size*/
}
.input-button {
  margin-top: 5px;
}
.done {
  text-decoration: line-through;
  color: grey;
}
.error {
  color: red;
}
