<!DOCTYPE html>
<html ng-app="minhaApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">
    <title>TODO list</title>
</head>

<body>
    <div my-menu></div>

    <div class="container margin-top-50" ng-controller="ctrlCategory">
        <div class="panel panel-default margin-top-50">
            <div class="panel-heading">Insira novas Categorias</div>
            <div class="panel-body">
                <div class="row" ng-if="meuErro.temErro">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" ng-repeat="erro in meuErro.errorMessage">{{erro}}</div>
                    </div>
                </div>

                <div class="row">
                    <form name="meuForm" class="col-sm-12" novalidate ng-submit="adicionar()">
                        <div class="form-group">
                            <label for="myCategory" class="control-label">Categoria</label>

                            <input type="text" id="myCategory" class="form-control" name="myCategory" ng-required="true" ng-model="category.name" />

                        </div>

                        <div class="col-sm-12">
                            <input type="submit" class="col-sm-1 btn btn-primary" value="Ok">
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="row margin-top-50">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in categories">
                        <td>
                            {{c.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="Scripts/angular.js"></script>
    <script src="App/services.js"></script>
    <script src="App/directives.js"></script>
    <script src="App/filters.js"></script>
    <script src="Scripts/angular-detect-device.js"></script>
    <script src="Scripts/re-tree.js"></script>
    <script src="App/app.js"></script>
</body>

</html>
