<!DOCTYPE html>
<html ng-app="minhaApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">
    <title>TODO list</title>
</head>

<body>
    <div my-menu></div>

    <div class="container margin-top-50" ng-controller="ctrlTodo">
        <div class="panel panel-default margin-top-50">
            <div class="panel-heading">Insira novas tarefas</div>
            <div class="panel-body">
                <div class="row" ng-if="meuErro.temErro">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" ng-repeat="erro in meuErro.errorMessage">{{erro}}</div>
                    </div>
                </div>

                <div class="row">
                    <form name="meuForm" class="col-sm-12" novalidate ng-submit="adicionar()">

                        <div class="form-group">
                            <label for="myTodo" class="control-label">Tarefa</label>

                            <textarea rows="4" cols="50" class="form-control" id="myTodo" name="myTodo" placeholder="Insira a tarefa aqui" ng-required="true" ng-model="todo.tarefa"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="mySelect">Categoria</label>
                            <select ng-model="todo.category" id="mySelect" class="form-control" ng-options="categ.name for categ in categories">
                                <option value="">-- Escolher categoria --</option>
                            </select>
                        </div>


                        <div class="form-group" ng-show="device">
                            <label for="myCheck">Mostrar apenas tarefas concluídas?</label>
                            <input type="checkbox" name="myCheck" id="myCheck" ng-model="taFeito" ng-init="false" />
                        </div>


                        <input type="submit" class="col-sm-1 btn btn-primary" value="Ok">

                    </form>
                </div>
            </div>
        </div>

        <div class="row margin-top-50">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tarefa</th>
                        <th>Categoria</th>
                        <th>Está feita</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in todos | onlyDone: taFeito| getByCategory: todo.category.name " ng-click="tarefaFoiFeita(t)">
                        <td>
                            <span ng-class="t.isDone ? 'tarefa-feita' : ''">{{ t.tarefa }}</span>
                        </td>
                        <td>{{ t.category.name }}</td>
                        <td>
                            <input type="checkbox" ng-checked="t.isDone">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="Scripts/angular.js"></script>
    <script src="App/services.js"></script>
    <script src="App/directives.js"></script>
    <script src="App/filters.js"></script>
    <script src="Scripts/angular-detect-device.js"></script>
    <script src="Scripts/re-tree.js"></script>
    <script src="App/app.js"></script>
</body>

</html>
