<div ng-controller="CategoriasController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Categorias com Tarefas Existentes
      <span class="label label-info" style="float:right;">
        Selecione uma categoria para filtrar.
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="todo in todos | uniq: 'cat' | orderBy: 'cat'">
            <td ng-click="filterCateg(todo.cat)" ui-sref="filtro">
              <i class="material-icons small-icon">keyboard_arrow_right</i>&nbsp;{{todo.cat}}&nbsp;&nbsp;&nbsp;
              <span class="label label-danger">{{remainingCategLeft(todo.cat)}}
                faltando</span>&nbsp&nbsp
              <span class="label label-success">{{remainingCategDone(todo.cat)}}
                completadas</span>&nbsp&nbsp
              <span class="label label-info">{{remainingCateg(todo.cat)}}
                total</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Categorias Cadastradas
      <span class="label label-info" style="float:right;">
        Selecione uma categoria para filtrar.
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="categ in categs | orderBy: 'cat'">
            <td ng-click="filterCateg(categ.cat)" ui-sref="filtro">
              <i class="material-icons small-icon">keyboard_arrow_right</i>&nbsp;{{categ.cat}}&nbsp;&nbsp;&nbsp;
              <span class="label label-danger">{{remainingCategLeft(categ.cat)}}
                faltando</span>&nbsp&nbsp
              <span class="label label-success">{{remainingCategDone(categ.cat)}}
                completadas</span>&nbsp&nbsp
              <span class="label label-info">{{remainingCateg(categ.cat)}}
                total</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Adicionar Categoria
      <span class="label label-info" style="float:right;">
        Categorias não podem ser repetidas.
      </span>
    </div>
    <div class="panel-body">
      <form class="form-group label-floating" id="formAddCateg" name="formAddCateg" ng-submit="addCateg()">
        <label class="control-label" for="newCateg">Que categoria deseja adicionar?</label>
        <input autocomplete="off" class="form-control" id="newCateg" name="newCateg" ng-maxlength=20 ng-minlength=3 ng-model="newCateg" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" required type="text">
        <div class="help-block" ng-show="formAddCateg.newCateg.$dirty && formAddCateg.newCateg.$invalid">
          <div class="error" ng-show="formAddCateg.newCateg.$error.required">É preciso escrever uma categoria.</div>
          <div class="error" ng-show="formAddCateg.newCateg.$error.minlength">Uma categoria precisa ter mais de 3 caracteres.</div>
          <div class="error" ng-show="formAddCateg.newCateg.$error.maxlength">Uma categoria não pode ter mais do que 20 caracteres.</div>
          <div class="error" ng-show="formAddCateg.newCateg.$error.pattern">Uma categoria só pode ter letras.</div>
        </div>
        <button class="btn btn-success btn-raised btn-block" ng-disabled="formAddCateg.$invalid">
          <i class="material-icons">add_circle</i>
          <span>&nbsp;Adicionar Categoria</span>
        </button>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Remover Categoria
      <span class="label label-danger" style="float:right;">
        Remover uma categoria impedirá que novas tarefas sejam inclusas nesta.
      </span>
    </div>
    <div class="panel-body">
      <form class="form-group has-error label-floating" name="formRmCateg" ng-submit="removeCateg()">
        <label class="control-label" for="rmCateg">Que categoria deseja remover?</label>
        <select class="form-control" id="rmCateg" ng-model="rmCateg" ng-options="categ.cat for categ in categs | orderBy: 'cat'" required>
          <option disabled selected value="">-- Escolher categoria --</option>
        </select>
        <button class="btn btn-danger btn-raised btn-block" ng-disabled="formRmCateg.$invalid">
          <i class="material-icons">remove_circle</i>
          <span>&nbsp;Remover Categoria</span>
        </button>
      </form>
    </div>
  </div>
</div>
