<div ng-controller="TarefasController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Tarefas
    </div>
    <div class="panel-body">
      <div class="form-group label-floating" name="formFilter">
        <label class="control-label" for="tableFilter">Que categoria deseja filtrar?</label>
        <input autocomplete="off" class="form-control" id="tableFilter" name="tableFilter" ng-model="tableFilter" type="text">
      </div>
      <span class="label label-success" style="float:right;">
        Faltam
        {{remaining()}}
        de um total de
        {{todos.length}}
        a serem concluídas.
      </span>
      <table class="table table-striped table-hover noselect">
        <thead>
          <tr>
            <th>
              <i class="material-icons">playlist_add_check</i>
            </th>
            <th class="highlight" ng-click="orderTodo = (orderTodo === 'text' ? '-text' : 'text')">Tarefa&nbsp;
              <i class="material-icons small-icon" ng-show="orderTodo == 'text' || orderTodo == '-text'">import_export</i>
            </th>
            <th class="highlight" ng-click="orderTodo = (orderTodo === 'cat' ? '-cat' : 'cat')">Categoria&nbsp;
              <i class="material-icons small-icon" ng-show="orderTodo == 'cat' || orderTodo == '-cat'">import_export</i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'active':todo.done}" ng-click="todoCheck(todo)" ng-repeat="todo in todos | orderBy: orderTodo | filter: tableFilter track by $index">
            <td><input ng-checked="todo.done" ng-click="todoCheck(todo)" ng-model="todo.done" type="checkbox"></td>
            <td ng-class="{'done':todo.done}">{{todo.text}}</td>
            <td>{{todo.cat}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger btn-block" ng-click="clearCompleted()">
        <i class="material-icons">remove_circle</i>
        <span>&nbsp;Remover Tarefas Completadas</span>
      </button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Adicionar Tarefa
      <span class="label label-info" style="float:right;">
        Tarefas precisam ter uma categoria e não podem ser repetidas na mesma.
      </span>
    </div>
    <div class="panel-body">
      <form id="formAddTodo" name="formAddTodo" ng-submit="addTodo()">
        <div class="form-group label-floating">
          <label class="control-label" for="newTodo">O que precisa ser feito?</label>
          <input autocomplete="off" class="form-control" id="newTodo" name="newTodo" ng-maxlength=40 ng-minlength=3 ng-model="newTodo" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" required type="text">
          <div class="help-block" ng-show="formAddTodo.newTodo.$dirty && formAddTodo.newTodo.$invalid">
            <div class="error" ng-show="formAddTodo.newTodo.$error.required">É preciso escrever uma tarefa.</div>
            <div class="error" ng-show="formAddTodo.newTodo.$error.minlength">Uma tarefa precisa ter mais de 3 caracteres.</div>
            <div class="error" ng-show="formAddTodo.newTodo.$error.maxlength">Uma tarefa não pode ter mais do que 40 caracteres.</div>
            <div class="error" ng-show="formAddTodo.newTodo.$error.patern">Uma tarefa só pode ter letras.</div>
          </div>
        </div>
        <div class="form-group label-floating">
          <label class="control-label" for="inCateg">Em qual categoria?</label>
          <select class="form-control" id="inCateg" ng-model="inCateg" ng-options="categ.cat for categ in categs | orderBy: 'cat'" required>
            <option value="">-- Escolher categoria --</option>
          </select>
        </div>
        <button class="btn btn-success btn-raised btn-block" ng-disabled="formAddTodo.$invalid">
          <i class="material-icons">add_circle</i>
          <span>&nbsp;Adicionar Tarefa</span>
        </button>
      </form>
    </div>
  </div>
</div>
