<div ng-controller="TarefasController">
  <div class="panel panel-default">
    <div class="panel-heading">Adicionar Tarefa</div>
    <div class="panel-body">
      <form name="formAddTodo" id="formAddTodo" ng-submit="addTodo()">
        <div class="form-group label-floating">
          <label class="control-label" for="newTodo">O que precisa ser feito?</label>
          <input class="form-control" id="newTodo" name="newTodo" ng-model="newTodo" required type="text">
        </div>
        <div class="form-group">
          <label class="control-label" for="inCateg">Em qual categoria?</label>
          <select class="form-control" id="inCateg" ng-model="inCateg" ng-options="categ.cat for categ in categs" required>
            <option value="">-- Escolher categoria --</option>
          </select>
        </div>
        <button class="btn btn-success btn-raised btn-block" ng-disabled="formAddTodo.$invalid">
          <i class="material-icons">add_circle</i>
          <span>&nbsp;Adicionar Tarefa</span>
        </button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Tarefas</div>
    <div class="panel-body">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th><i class="material-icons">playlist_add_check</i></th>
            <th>Tarefa</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'active':todo.done}" ng-repeat="todo in todos track by $index" ng-click="todoCheck(todo)">
            <td><input ng-model="todo.done" ng-checked="todo.done" type="checkbox"></td>
            <td ng-class="{'done':todo.done}">{{todo.text}}</td>
            <td>{{todo.cat}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger btn-block" ng-click="clearCompleted()">
        <i class="material-icons">remove_circle</i>
        <span>&nbsp;Remover Tarefas Completadas</span>
      </button>
    </div>
  </div>
</div>
